// color
$background-light:#393C49;
$background-dark-1: #252836;
$background-dark-2: #1F1D2B;
$form-background: #2D303E;
$primary-color: #EA7C69;
$secondary-color: #9288E0;
$text-dark: #3B5162;
$text-gray: #889898;
$text-light: #ABBBC2;
$text-lighter: #E0E6E9;
$pink-accent: #FF7CA3;
$white: #fff;














